%article{:class => "#{@meeting.next? ? 'next ' : ''}#{cycle('odd','even')} meeting"}
  = render :partial => "header", :locals => {:meeting => @meeting}

  %div{:class => "body"}
    ~ raw @meeting.rendered
