- if current_user
  %span{:class => 'admin'}= link_to "new story", new_story_path

%h1 Near-Death Stories

- @stories.each do |story|
  %article
    = render :partial=>"header", :locals => {:story => story}

    -# %span= link_to 'Edit', edit_story_path(story)
    -# %span= link_to 'Destroy', story, confirm: 'Are you sure?', method: :delete
