#content {
   .admin {
      clear: right;
      float: right;
      font-size: 8pt;
      color: desaturate($admin-color, 100%);
      * {
	 font-size: 8pt;
      }
      a {
	 text-decoration: none;
	 &:link, &:visited {
	    color: $admin-color;
	 }
	 &:hover, &:active {
	    color: lighten($admin-color, 10%);
	 }
	 span {
	    padding: 0.1em 0.8em;
	    color: $font-color;
	 }
      }
   }

   #texture-help {
     clear: both;
     font-size: 0.8em;
     margin-left: auto;
     margin-right: auto;
     width: 90%;

     blockquote {
       font-style: normal;
       background: #def;
       padding: 0.4em 1em;
       border: 1px solid #ddd;
       background: white;
       font-family: $default-font;
       blockquote {
         font-style: italic;
         background: #eee;
         font-family: $header-font;
       }
     }
     pre {
       padding: 0.4em 1em;
       background: #ddd;
     }
   }
}