
$nav-color: #bdf;
$alt-nav-color: #fdb;
$content-border: desaturate(darken($nav-color, 15%), 5%);
$content-bg: #fff;
$font-color: #444;
$admin-color: #b88;
$link-color: #66a;
$buy-bg: #f00;
$buy-color: #fff;
$pre-font: Menlo, "Bitstream Vera Sans Mono", Monaco, "Lucida Console", monospace;

@import "compass/css3";
@import "compass/css3/text-shadow";
@import "compass/css3/border-radius";
@import "compass/utilities/color/contrast";
@import "compass/utilities/general/clearfix";
$contrasted-dark-default: $font-color;
$contrasted-light-default: white;

@import url(http://fonts.googleapis.com/css?family=Lora:700);
$header-font: "Lora", sans-serif;

// @import "html5reset";
@import "compass/reset";
@import "date";
@import "jquery-ui";

@import "scaffolds";
@import "layout";
@import "headerfooter";

@import "meetings";
@import "stories";
@import "welcome";
@import "sessions";
@import "admin";
@import "mobile";

@include global-reset();
