
$nav-color: #bdf;
$alt-nav-color: #fdb;
$content-border: desaturate(darken($nav-color, 15%), 5%);
$content-bg: #fff;
$font-color: #444;
$admin-color: #b88;
$link-color: #66a;
$buy-bg: #f00;
$buy-color: #fff;
$pre-font: Menlo, "Bitstream Vera Sans Mono", Monaco, "Lucida Console", monospace;

@import "compass/css3";
@import "compass/css3/text-shadow";
@import "compass/css3/border-radius";
@import "compass/utilities/color/contrast";
@import "compass/utilities/general/clearfix";
$contrasted-dark-default: $font-color;
$contrasted-light-default: white;

@import url(http://fonts.googleapis.com/css?family=Lora:700);
$header-font: "Lora", sans-serif;

// @import "html5reset";
@import "compass/reset";
@import "date";
@import "jquery-ui";

@import "scaffolds";
@import "layout";
@import "headerfooter";

@import "meetings";
@import "stories";
@import "welcome";
@import "sessions";
@import "admin";

@include global-reset();

body {
   background-image: inline-image('409_tile_sky.jpg');
   @include background-size(100%);
   color: $font-color;
   font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
/*
   font-family: verdana, arial, helvetica, sans-serif;
   font-size: 13px;
*/
}

#content {
   background-color: $content-bg;
   pre {
      background-color: #eee;
      padding: 10px;
/*
      font-size: 11px;
*/
   }

   code, pre, textarea, input[type=text] {
      font-family: $pre-font;
   }

   a {
      &:link,&:visited {
	 color: $link-color; }
      &:hover,&:active {
	 color: lighten($link-color, 10%);
      }
   }

   div {
      &.field, &.actions {
	 margin-bottom: 10px;
      }
   }

   p {
      margin: 1em 0;
      line-height: 1.3em;
   }
}
