#header, #footer {
  background-color: #def;
}

#header {
  font-size: 3.0em;
  font-weight: bold;
  line-height: 2em;
  text-align: center;
}

#footer {
  font-size: 0.9em;
  font-style: italic;
  text-align: center;
  line-height: 1.2em;
  margin-top: 2em;
}