
#content {
   margin: 0 auto 1.8em;
   border: 1px solid $content-border;
   padding: 1.8em;
   width: 40em;
   @include border-radius(0.5em);
   @include clearfix();

   // Forms
   form {
      input[type=text], input[type=password] {
	 width: 100%;
      }
      textarea {
	 width: 100%;
      }
      .actions {
	 input, a {
	    float: right;
	    margin: 0.5em 0 0.5em 1em;
	 }
      }
   }

   // Headers
   #{headers()} {
      font-family: $header-font;
      margin-bottom: 0.6em;
      margin: 0.6em 0;
   }
   h1 { font-size: 1.8em; }
   h2 { font-size: 1.6em; }
   h3 { font-size: 1.4em; }
   h4 { font-size: 1.2em; }

   // Lists
   ul,ol {
      margin: 0 1.5em 0 0; // 1.5em 0;
      padding-left: 1.5em;
   }
   li ul, li ol {
      margin: 0;
   }
   ol {
      list-style-type: decimal;
   }
   ul {
      list-style-type: disc;
   }
   dl {
      margin: 0 0 1.5em 0;
   }
   dl dt {
      font-weight: bold;
   }
   dd {
      margin-left: 1.5em;
   }

   // Flash Notices
   #flashnotice {
      background-color: #A4E7A0;
      border-color: #26722D;
      a {
	 border-color: #26722D;
	 color: #26722D;
      }
   }
   #flashalert {
      background-color: #F0A8A8;
      border-color: #900;
      a {
	 border-color: #900;
	 color: #900;
      }
   }
   #flashnotice, #flashalert {
      width: 90%;
      margin: 0 auto 1em auto;
      padding: 0.5em;
      border: 1px solid #777;
      p {
	 font-size: 0.88em;
	 margin: 0.2em 1em  0.2em 2em;
	 padding: 0;
	 color: #000;
      }
      a {
	 border: 1px solid #999;
	 text-decoration: none;
	 padding: 0 0.3em;
      }
      a:hover {
	 color: #333;
	 border: 1px solid #333;
      }
   }

   // Administrative Links
   .admin {
      float: right;
      font-size: 8pt;
      color: desaturate($admin-color, 100%);
      * {
	 font-size: 8pt;
      }
      a {
	 text-decoration: none;
	 &:link, &:visited {
	    color: $admin-color;
	 }
	 &:hover, &:active {
	    color: lighten($admin-color, 10%);
	 }
	 span {
	    color: $font-color;
	 }
      }
   }

   blockquote {
      font-family: $header-font;
      font-style: italic;
      color: lighten($font-color, 8%);
      padding: 0 1.5em;
      background: #eee;
      border: 1px solid #ddd;
      max-width: 70%;
   }

}

#texture-help {
   clear: both;
   font-size: 0.8em;
   margin-left: auto;
   margin-right: auto;
   width: 90%;
   pre {
      padding: 0.4em 1em;
      background: #ddd;
   }
   div.example {
      background: #def;
      padding: 0.4em 1em;
      border: 1px solid #ddd;
   }
}


nav {
   text-align: center;
   font-size: 1.2em;
   ul {
      margin: 1em 0 -1px 0;
      padding: 0;
   }
   li {
      display: inline;
      list-style-type: none;
      margin: 0;
      padding: 0;
      a {
	 @include border-radius(0.3em 0.3em 0 0);
	 color: $font-color;
	 margin: 0 0.2em;
	 padding: 0em 1em;
	 border: 1px solid darken($content-border, 5%);
	 border-bottom: none;
	 background: $nav-color;
	 text-decoration: none;
	 &.selected {
	    background: $content-bg;
	    border-bottom: 1px solid $content-bg;
	 }
	 &:hover {
	    background: lighten($nav-color, 8%);
	 }
      }
   }
}
