@import "base";

body {
   background-image: url('409_tile_sky.jpg');
   @include background-size(100%);
   color: $font-color;
   font-family: $default-font;
}

#content {
   background-color: $content-bg;
   pre {
      background-color: #eee;
      padding: 10px;
/*
      font-size: 11px;
*/
   }

   code, pre, textarea, input[type=text] {
      font-family: $pre-font;
   }

   a {
      &:link,&:visited {
	 color: $link-color; }
      &:hover,&:active {
	 color: lighten($link-color, 10%);
      }
   }

   div {
      &.field, &.actions {
	 margin-bottom: 10px;
      }
   }

   p {
      margin: 1em 0;
      line-height: 1.3em;
   }

   em {
     font-style: italic;
   }
   strong {
     font-weight: bold;
   }
}
