// Place all the styles related to the meetings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.meetings {

   // Selection for seasons.
   .choose {
      margin: 1em 0;
   }

   form {
      #meeting_date {
	 font-family: monospace;
	 width: 7em;
      }
   }
}

#content {
   article.meeting {
      @include clearfix();
      .fancy-date {
	 float: left;
	 margin: 0 1em 1em 0;
      }
      p {
	 padding-left: 5em;
      }
      header {
	 a {
	    font-family: $header-font;
	    display: block;
	    text-decoration: none;
	    font-size: 1.4em;
	    font-weight: bold;
	    &:link,&:visited {
	       color: $font-color;
	    }
	    &:hover,&:active {
	       color: lighten($font-color, 10%);
	    }
	 }
      }
      &.even {
	 background: #def;
      }
   }
}