// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.sessions {
  #login {
    header {
      font-weight: bold;
      margin: 0.2em 0;
      text-align: center;
    }
    label {
      display: block;
    }
    form {
      width: 15em;
      margin: .8em auto;
    }
  }
}

#login-bar {
  position: fixed;
  right: 0;
  top: 0;
  padding: 0.4em;
  border: 2px solid white;
  border-top: none;
  border-right: none;
  color: #eee;
  background-color: #456;

  li {
    margin: 0 2em 0 0;
  }

  a {
    color: invert(#456);
  }

  a.logout {
    float: right;
    color: white;
    text-decoration: none;
    margin-right: 0.5em;
    font-size: 110%;
   }
}