// Place all the styles related to the stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.stories {

   article {
      header {
	 a {
	    display: block;
	    text-decoration: none;
	    font-size: 1.4em;
	    font-weight: bold;
	 }
	 .author {
	    float: right;
	    font-style: italic;
	    font-size: 0.9em;
	 }
	 @include clearfix();
	 margin-bottom: 1.6em;
      }
   }
}