// Place all the styles related to the stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.stories {

#content article {
      header {
	 a {
	    font-family: $header-font;
	    display: block;
	    text-decoration: none;
	    font-size: 1.4em;
	    font-weight: bold;
	    &:link,&:visited {
	       color: $font-color;
	    }
	    &:hover,&:active {
	       color: lighten($font-color, 10%);
	    }
	 }
	 .author {
	    float: right;
	    font-style: italic;
	    font-size: 0.9em;
	    clear: both;
	 }
	 @include clearfix();
	 margin-bottom: 1.6em;
      }
   }
}