#login-bar
  %ul
    = link_to "&times;".html_safe, logout_path, :class => 'logout'
    %li= current_user.logon
    %li= link_to "analytics", "https://www.google.com/analytics/web/#report/visitors-overview/a4714126w40547715p40327846/"
    %li= link_to "source", "http://github.com/docwhat/chicagoiands"
