%header{:id => "header"}
  %div{:class => "header"}
    %a{:href=>root_path}
      %span{:class=>'chicago'} Chicago
      %span{:class=>'iands'} IANDS
  %div{:class => "subheader"}
    The International Association for Near-Death Studies, Inc.
  = image_tag "into-the-light.png", :id => 'logo'
